body {
    font-family: 'Edu SA Beginner',cursive ;
    margin: 100px auto;
    width: 90%;
}
nav ul, footer ul {
    color: blue;
    font-family: 'Edu SA Beginner', monospace;
    font-size: 22px;
    padding: 0px;
    list-style: none;
    font-weight: bolder;
}
nav ul li, footer ul li {
    
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {color: darkred ;
    font-size: 35px;
    font-family:'Edu SA Beginner', cursive;
    font-weight: bolder;
}
h2 {color: darkred ;
    font-size: 25px;
    font-family:'Edu SA Beginner', cursive;
    font-weight: bolder;
}
h3 {color: darkred ;
    font-size: 15px;
    font-family:'Edu SA Beginner', cursive;
    font-weight: bolder;
}



p {
    font-size: 1.1em;
    text-align: justify;
    line-height: 1.4em;
    color: black;
    /*font-weight: bold;*/
}

.p {
    font-size: 1em;
    line-height: 1.4em;
    color: black;
}

li {
    font-size: 1.5em;
    line-height: 1.4em;
    color: blue;
    /*margin-left: 20px;*/
}
/*
nav {
  margin:0px;
  background: #f9f9f9;
  padding: 0px;
  position: fixed;
  top: 0;
  right: 10;
  width: 80%;
  .menuItems {
    list-style: none;
    display: flex;

    li {
      margin: 50px;

      a {
        text-decoration: none;
        color: #8f8f8f;
        font-size: 24px;
        font-weight: 400;
        transition: all 0.5s ease-in-out;
        position: relative;
        text-transform: uppercase;

        &::before {
          content: attr(data-item);
          transition: 0.5s;
          color: #8254ff;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          width: 0;
          overflow: hidden;
        }

        &:hover {
          &::before {
            width: 100%;
            transition: all 0.5s ease-in-out;
          }
        }
      }
    }
  }
}
*/
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
    color: blue;
}

/* get by ID
#profile_image {
    float: left;
}
*/
